<web-app>
    <!--
    <display-name>Project management system</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    -->

    <listener>
        <listener-class>
            Context.MyServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>SampleController</servlet-name>
        <servlet-class>
            Controllers.SampleController
        </servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>

    <servlet-mapping>
        <servlet-name>SampleController</servlet-name>
        <!--url-pattern>/index.jsp</url-pattern-->
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

</web-app>