<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="employeeDAO" class="DAO.EmployeeDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="projectDAO" class="DAO.ProjectDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="technologyDAO" class="DAO.TechnologyDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="assigmentDAO" class="DAO.AssigmentDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:ProjectDB"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="connection.driver_class">org.hsqldb.jdbcDriver</prop>
            </props>
        </property>
        <property name="packagesToScan" value="Entity"/>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>